asyncua==2.0.1
pymssql==2.3.13
fastapi==0.141.1
uvicorn==0.52.4
websockets==17.1
paho-mqtt==2.1.0
python-multipart==0.0.20
pypdf==6.6.0
python-docx==1.2.0
openpyxl==3.1.5
python-pptx==1.0.2
xlrd==2.0.2
